
div.at_or_st
    a(href='/thisweek?menu=attendance&team='+team+'&week='+week) 출석체크
    h &nbsp&nbsp
    a(href='/thisweek?menu=study&team='+team+'&week='+week) 공과
div.attendance
    table
        tr
            th 이름
            th 출석
            th 장결
        //-gNum 범위 재설정!
        -for(let gNum=0;gNum<weekly[team].length; gNum++)
            tr
                td #{weekly[team][gNum].name}
                td 
                    -
                        let attendance='';
                        if(weekly[team][gNum].attendance===1){
                            attendance='출석'
                        }else if(weekly[team][gNum].attendance===2){
                            attendance='지각'
                        }else if(weekly[team][gNum].attendance===3){
                            attendance='결석'
                        }else{
                            attendance='체크안함'
                        };
                    input(type='button' value=attendance name='attendance' id=weekly[team][gNum].name onclick="changeAt(this)")
                td
                    -    let longAbsentee=weekly[team][gNum].longAbsentee ?'장기결근': '_정상_'
                    input(type='button' value=longAbsentee name='longAbsentee' id=weekly[team][gNum].name onclick="changeAt(this)")
        tr
            td
                input(type='button' value='new member' onclick="newMember(this)")
            //-완성후 study에 복사