div.container-lg

    div.weeklyButtons.m-1
        form.row.m-1(action="/thisweek_process?#####", method="post")
            div.col-3.m-0.p-0
                ul.p-0
                    li.tablehead 이름
                    -for(let gNum=0;gNum<weekly.length; gNum++)
                        li.tablehead #{weekly[gNum].name}
                    li.py-1#newMem
                        input.btn.btn-outline-main(type='button' value='new member' onclick="newMember(this)")
            div.col-9#innerBox
                 div.form-group
                    ul.row.tablehead
                        li.col.tablehead  
                            p.m-0 출석
                        li.col.tablehead    
                            p 성경
                        li.col.tablehead    
                            p 요절
                        li.col.tablehead    
                            p info
                        li.col.tablehead    
                            p 장결
                    div.form-row
                        div.col.py-1
                            
                    
            
    div.weeklyButtons.m-1
        div.row.m-1
            div.col-3.m-0.p-0
                ul.p-0 
                    li.tablehead 이름
                    -for(let gNum=0;gNum<weekly.length; gNum++)
                        li.tablehead #{weekly[gNum].name}
                    li.py-1#newMem
                        input.btn.btn-outline-main(type='button' value='new member' onclick="newMember(this)")
            div.col-9#innerBox
                div
                    ul.row.tablehead
                        li.col.tablehead  
                            p.m-0 출석
                        li.col.tablehead    
                            p 성경
                        li.col.tablehead    
                            p 요절
                        li.col.tablehead    
                            p info
                        li.col.tablehead    
                            p 장결

                    -for(let gNum=0;gNum<weekly.length; gNum++)
                        ul.row
                            li.col.py-1  
                                -
                                    let attendance='';
                                    let attendanceClass='';
                                    if(weekly[gNum].attendance===1){
                                        attendance='출석'
                                        attendanceClass='blue';
                                    }else if(weekly[gNum].attendance===2){
                                        attendance='지각'
                                        attendanceClass='yellow';
                                    }else if(weekly[gNum].attendance===3){
                                        attendance='결석'
                                        attendanceClass='red';
                                    }else{
                                        attendance='체크안함'
                                        attendanceClass='secondary';
                                    };
                                input.btn(type='button' value=attendance name='attendance' class='btn-'+attendanceClass id=weekly[gNum].id onclick="changeAt(this)")
                            li.col.py-1.smaller
                                -    let BibleClass=weekly[gNum].bibleRead*1 >0? 'btn-yellow':'btn-secondary';
                                                      
                                input.form-control(type='number' class=BibleClass min=0 value=weekly[gNum].bibleRead name='0' )
                                input.btn(type='submit' value='입력' class=BibleClass  name='bibleRead' id=weekly[gNum].id onclick="changeAt(this)")

                            li.col.py-1  
                                -    let bibleMemorise= weekly[gNum].bibleMemorise? '암송완료!':'암송아직ㅜ';
                                -    let MemoClass=weekly[gNum].bibleMemorise ? 'btn-blue':'btn-light';
                                input.btn(type='button' class=MemoClass value=bibleMemorise name='bibleMemorise' id=weekly[gNum].id onclick="changeAt(this)")
                            li.col.py-1.smaller
                                input.btn.btn-outline-main(type='button' value='...' id=weekly[gNum].name onclick="moreInfo(this)")
                            li.col.py-1  
                                -    let longAbsentee=weekly[gNum].longAbsentee ?'장기결석': '정상'
                                -    let AbsenteeClass=weekly[gNum].longAbsentee ? 'btn-secondary':'btn-light'
                                input.btn(type='button' class=AbsenteeClass value=longAbsentee name='longAbsentee' id=weekly[gNum].id onclick="changeAt(this)")


        
    //-div
        table.table.table-hover.table-custom.mx-3#weeklyTable
            tr
                th(scope='col') 이름
                th(scope='col') 출석
                th(scope='col') 장결
            //-gNum 범위 재설정!
            -for(let gNum=0;gNum<weekly[team].length; gNum++)
                tr
                    th(scope='row') #{weekly[team][gNum].name}
                    td 
                        -
                            let attendance='';
                            let attendanceClass='';
                            if(weekly[team][gNum].attendance===1){
                                attendance='출석'
                                attendanceClass='blue';
                            }else if(weekly[team][gNum].attendance===2){
                                attendance='지각'
                                attendanceClass='yellow';
                            }else if(weekly[team][gNum].attendance===3){
                                attendance='결석'
                                attendanceClass='red';
                            }else{
                                attendance='체크안함'
                                attendanceClass='secondary';
                            };
                        input.btn(type='button' value=attendance name='attendance' class='btn-'+attendanceClass id=weekly[team][gNum].name onclick="changeAt(this)")
                    td
                        -    let longAbsentee=weekly[team][gNum].longAbsentee ?'장기결근': '정상'
                        -    let AbsenteeClass=weekly[team][gNum].longAbsentee ? 'btn-secondary':'btn-light'
                        input.btn(type='button' class=AbsenteeClass value=longAbsentee name='longAbsentee' id=weekly[team][gNum].name onclick="changeAt(this)")
            tr
                td#newMem
                    input.btn.btn-outline-main(type='button' value='new member' onclick="newMember(this)")
                //-완성후 study에 복사