div.m-5
    h3 환영합니다!
    form(action="/newMember_process?team="+team+"&week="+week, method="post")
        div.form-group.row
            div.col-sm-5
                label.col-form-label 이름
                input.form-control(type='text' name='name' placeholder='홍길동' required)
            div.col-sm-7
                label.col-form-label 전화번호
                input.form-control(type='text' name='phoneNumber' placeholder='000-0000-0000' required)
        div.form-group
            label 주소
            input.form-control(type='text' name='home' placeholder='인천시 미추홀구...')
        div.form-group
            label 생일
            div.form-row
                div.col
                div.col-3
                    select(name='bir_y').custom-select
                        -for(let i=2020;i>1980;i--)
                            if i===2000
                                option(selected)= i
                            else 
                                option= i
                span 년
                div.col
                div.col-3
                    select(name='bir_m').custom-select
                        -for(let i=1;i<13;i++)
                            option= i
                span 월
                div.col
                div.col-3
                    select(name='bir_d').custom-select
                        -for(let i=1;i<31;i++)
                            option= i
                span 일
                div.col
        div.form-group.row
            div.col-sm-6
                label.col-form-label 조
                select(name='team' required).custom-select
                    -for(let i=0;i<teams.length;i++)
                        if teams[i].id===team*1
                            option(value=teams[i].id selected)= teams[i].teamName
                        else
                            option(value=teams[i].id)= teams[i].teamName
            
            div.col-sm-6
                label.col-form-label 등록일
                input.form-control(type='text' name='joinDate' value=week)
        div.form-group
            label 기타 사항
            textarea.form-control(name='specialInfo' rows='3' placeholder='필요한 내용을 적어주세요')
        input.btn.btn-main(type='submit', value='저장')