div.study
    table
        tr
            th 이름
            th 성경
            th 암송
        -for(let gNum=0;gNum<4; gNum++)
            tr
                td #{weekly.teamA[gNum].name}
                td 
                    input(type='button' value=weekly.teamA[gNum].bibleRead name='bibleRead' id=weekly.teamA[gNum].name onclick="changeAt(this)")
                td 
                    - let bibleMemorise= weekly.teamA[gNum].bibleMemorise? '암송완료!':'암송아직ㅜ';
                    input(type='button' value=bibleMemorise name='bibleMemorise' id=weekly.teamA[gNum].name onclick="changeAt(this)")