div
    case mainDiv 
        when 'result'
            h3.display-4 result
        default
            h3.display-4 #{team}
    span(style='font-size:2rem;') #{week.substr(0,4)}년 #{week.substr(5,2)}월  #{week.substr(8)}주

    div.dropdown#selectWeek
        case mainDiv 
            when 'result'
                button.btn.btn-sm.btn-light.dropdown-toggle(type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 이전 주차 결과 보기
            default
                button.btn.btn-sm.btn-light.dropdown-toggle(type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 이전 주차 출석 입력하기
        div(class="dropdown-menu" )
            -for(let iNum=dirs.length-1;iNum>=0; iNum--)
                -let dirname=dirs[iNum]
                a.dropdown-item(href='/thisweek?team='+team+'&week='+dirname) #{dirname}

script.
    function changeAt(self){
        let type=self.name;
        let name=self.id;
        let myTeam="#{team}";
        let _week="#{week}"
        location.href=`/thisweek_process?type=${type}&team=${myTeam}&week=${_week}&name=${name}`;
    };
    function moreInfo(self){
        let name=self.id;
        let _week="#{week}"
        location.href=`/moreInfo?name=${name}&week=${_week}`
    };
    function newMember(self){
        let myTeam="#{team}";
        let _week="#{week}"
        location.href=`/newMember?team=${myTeam}&week=${_week}`
    };


case mainDiv 
    when undefined
        include attendance
    when 'result'
        include result

