div.container-lg
    div.row.justify-content-around#choice
        div.col
            a.btn.btn-main.btn-main-second(href='/thisweek?menu=attendance&team='+team+'&week='+week) 출석체크
        div.col
            a.btn.btn-main(href='/thisweek?menu=study&team='+team+'&week='+week) 공과

    div
        table.table.table-hover.table-custom.mx-3#weeklyTable
            tr
                th(scope='col') 이름
                th(scope='col') 성경
                th(scope='col') 암송
                th(scope='col') info
            //-gNum 범위 재설정!
            -for(let gNum=0;gNum<weekly[team].length; gNum++)
                tr
                    th(scope='row') #{weekly[team][gNum].name}
                    td 
                        -    let BibleClass=weekly[team][gNum].bibleRead*1 >0? 'btn-yellow':'btn-secondary';
                        input.btn(type='button' class=BibleClass value=weekly[team][gNum].bibleRead name='bibleRead' id=weekly[team][gNum].name onclick="changeAt(this)")
                        //input.btn.btn-secondary(type='button' value=attendance name='attendance' class='btn-'+attendance id=weekly[team][gNum].name onclick="changeAt(this)")
                    td
                        -    let bibleMemorise= weekly[team][gNum].bibleMemorise? '암송완료!':'암송아직ㅜ';
                        -    let MemoClass=weekly[team][gNum].bibleMemorise ? 'btn-blue':'btn-light';
                        input.btn(type='button' class=MemoClass value=bibleMemorise name='bibleMemorise' id=weekly[team][gNum].name onclick="changeAt(this)")
                        
                    td    
                        input.btn.btn-outline-main(type='button' value='...' id=weekly[team][gNum].name onclick="moreInfo(this)")
            tr
                td#newMem
                    input.btn.btn-outline-main(type='button' value='new member' onclick="newMember(this)")
